header {
  --link-color: var(--secondary);

  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-sm);
  gap: var(--layout-gap-sm);
}

.header-toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--layout-gap-md);
}

.colour-buttons,
.text-buttons {
  display: flex;
  gap: var(--layout-gap-sm);
}

.a11y-button {
  color: white;
  border: 2px solid white;
  border-radius: 4px;
}
