header {
  --link-color: var(--secondary);

  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-sm);
  gap: var(--layout-gap-sm);
}

a:focus,
a:active {
  background: var(--link-color);
  color: var(--blue);
  outline: 0.25rem solid var(--link-color);
  outline-offset: 0;
}

.header-toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--layout-gap-md);
}

.colour-mode-container {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-sm);
}

button {
  cursor: pointer;
}

.a11y-tools {
  display: flex;
  flex-direction: row;
  gap: var(--layout-gap-md);
}

.colour-select {
  border-radius: 0.5rem;
  padding: var(--padding-xs);
  display: flex;
  align-items: center;
  gap: var(--layout-gap-xs);
}

.colour-menu {
  display: none;
  flex-direction: column;
  gap: var(--layout-gap-xs);
}

.colour-menu-open {
  display: flex;
}

.colour-mode {
  border-radius: 0.5rem;
  padding: var(--padding-xs);
  display: flex;
  align-items: center;
  gap: var(--layout-gap-xs);
}

.colour-mode,
.colour-select {
  width: 11rem;
  border: 2px solid var(--secondary);

  &:focus {
    background-color: var(--secondary);
    color: var(--primary);
  }
  &:hover {
    outline: 2px solid var(--secondary);
  }

  &.dark {
    --circle-color-one: var(--snowy-mint);
    --circle-color-two: var(--dark-mode-background);
  }
  &.light {
    --circle-color-one: var(--snowy-mint);
    --circle-color-two: var(--blue);
  }
  &.monochrome {
    --circle-color-one: white;
    --circle-color-two: var(--monochrome-black);
  }
}

.colour-circle {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    var(--circle-color-one) 50%,
    var(--circle-color-two) 50%
  );
  rotate: 45deg;
  border: 2px solid var(--circle-color-one);
}

@media (prefers-color-scheme: dark) {
  .colour-mode.reset,
  .colour-select.reset {
    --circle-color-one: var(--snowy-mint);
    --circle-color-two: var(--dark-mode-background);
  }
}

@media (prefers-color-scheme: light) {
  .colour-mode.reset,
  .colour-select.reset {
    --circle-color-one: var(--snowy-mint);
    --circle-color-two: var(--blue);
  }
}

.text-buttons {
  display: flex;

  gap: var(--layout-gap-xs);
  align-items: center;

  // span {
  //   font-size: var(--subheading-1-size);
  // }

  .text-button {
    border: 2px solid var(--secondary);
    border-radius: 0.5rem;
    padding: var(--padding-xs);
    height: 2.75rem;
    width: 2.75rem;
    display: grid;
    place-content: center;

    &.reset {
      width: unset;
    }

    &:focus {
      background-color: var(--secondary);
      color: var(--primary);
    }
    &:hover {
      outline: 2px solid var(--secondary);
    }
  }
}

.a11y-button {
  color: white;
  border: 2px solid white;
  border-radius: 4px;
}
