<header>
  <app-header-toolbar [isMobile]="isMobile" />

  <div class="main-header">
    <h2 id="logo"><a routerLink="/">Access Toolkit for Art Workers</a></h2>
    <nav id="main-nav" aria-label="Main">
      <button
        #menuButton
        id="menu-button"
        [attr.aria-expanded]="menuButtonAriaExpanded()"
        (click)="toggleMenu()"
      >
        <svg viewBox="0 0 100 80" aria-hidden="true">
          <rect width="100" height="10"></rect>
          <rect y="30" width="100" height="10"></rect>
          <rect y="60" width="100" height="10"></rect>
        </svg>
        <span>Menu</span>
      </button>

      <ul
        id="main-nav-list"
        role="list"
        [ngClass]="{ 'menu-open': menuIsOpen() }"
      >
        <li>
          <a aria-current="page" routerLink="about"> About </a>
        </li>
        <li>
          <a routerLink="/planning"> Planning </a>
        </li>
        <li>
          <a routerLink="/production"> Production </a>
        </li>
        <li>
          <a routerLink="/workplace"> Workplace </a>
        </li>
        <li>
          <a routerLink="/audiences"> Audiences &amp; Display </a>
        </li>
        <li>
          <a routerLink="/other-resources"> Other Resources </a>
        </li>
        @if (isMobile) {
        <li>
          <a routerLink="/accessibility">Site Accessibility</a>
        </li>
        } @else {
        <li id="site-a11y-desktop">
          <a routerLink="/accessibility">Site Accessibility</a>
        </li>
        }
      </ul>
    </nav>
  </div>
</header>
<hr class="dark-mode-border" />
