header {
  --link-color: var(--secondary);

  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--layout-gap-sm);
}

a:focus,
a:active {
  background: var(--link-color);
  color: var(--blue);
  outline: 0.25rem solid var(--link-color);
  outline-offset: 0;
}

.main-header {
  padding: var(--padding-sm);
  padding-top: 0;
}

button {
  cursor: pointer;
}
