<footer>
  <div id="funders">
    <p>
      Access Toolkit for Artworkers is supported by
      <a href="https://www.artscouncil.org.uk">Arts Council England</a> and
      <a href="https://www.fieldarts.ie/">field:arts</a>.
    </p>
    <div id="logos">
      <img
        src="assets/img/lottery-black.png"
        alt="Arts Council England Lottery Funded logo"
      />
      <img src="assets/img/fieldarts.png" alt="Field Arts logo" />
    </div>
    <div>
      <p>
        Website designed by
        <a href="https://www.saerlaith.com">Saerlaith Uaid Ní Dhuibhir</a>
      </p>
    </div>
  </div>
</footer>
