<main>
  <h1 id="main-heading" tabindex="-1">Other Resources</h1>
  <div class="main-content">
    <nav class="table-of-contents" aria-label="Table of Contents">
      <h2 id="table-of-contents">Table of Contents</h2>
      <ol>
        <li>
          <a routerLink="/other-resources" fragment="audio-version"
            >Audio Version</a
          >
        </li>
        <li>
          <a routerLink="/other-resources" fragment="text-version"
            >Text Version</a
          >
        </li>
      </ol>
    </nav>
    <article>
      <h2 id="audio-version" tabindex="-1">
        <a
          class="header-anchor"
          routerLink="/other-resources"
          fragment="audio-version"
          ><span>Audio Version</span></a
        >
      </h2>
      <audio id="audio1" controls>
        <source type="audio/ogg" src="assets/audio/resources.ogg" />
        <source type="audio/mpeg" src="assets/audio/resources.mp3" />
        Your browser does not support embedded audio, but you can
        <a href="assets/audio/resources.mp3">download it.</a>
      </audio>
      <p>
        <a href="assets/audio/resources.mp3">Download audio</a>
      </p>
      <h2 id="text-version" tabindex="-1">
        <a
          class="header-anchor"
          routerLink="/other-resources"
          fragment="text-version"
          ><span>Text Version</span></a
        >
      </h2>
      <ul>
        <li>
          <a href="https://www.accessdocsforartists.com/"
            >Access Docs for Artists</a
          >
          by Leah Clements, Alice Hattrick and Lizzy Rose.
        </li>
        <li>
          <a href="https://promiseandpractice.art/"
            >Accessibility in the Arts: A Promise and a Practice</a
          >
          by Carolyn Lazard.
        </li>
        <li>
          <a
            href="https://www.sinsinvalid.org/blog/access-suggestions-for-a-public-event"
            >Access Suggestions for Events</a
          >
          by Sins Invalid.
        </li>
        <li>
          <a href="https://alt-text-as-poetry.net/#book">Alt Text as Poetry</a>
          by Bojana Coklyat and Shannon Finnegan.
        </li>
        <li>
          <a
            href="https://weareunlimited.org.uk/resource/creating-your-own-access-rider/"
            >Creating Your Own Access Rider</a
          >
          by Unlimited.
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1HGBSsBsERxSaD1t0Oq_9acqAqiAPPLekBxaJ8tk-Njw/edit"
            >This Work Isn’t For Us</a
          >
          by Jemma Desai.
        </li>
        <li>
          <a href="https://www.youtube.com/@ADIarts">Access Webinars</a> by Arts
          and Disability Ireland.
        </li>
      </ul>
    </article>
  </div>

  <a id="skip-to-top" href="#skip-link"
    ><span aria-hidden="true">⇈</span> Back to top
    <span aria-hidden="true">⇈</span></a
  >
</main>
