<main>
  <h1 id="main-heading">About</h1>
  <div class="main-content">
    <nav class="table-of-contents" aria-label="Table of Contents">
      <h2 id="table-of-contents">Table of Contents</h2>
      <ol>
        <li>
          <a routerLink="/about" fragment="audio-version">Audio Version</a>
        </li>
        <li>
          <a routerLink="/about" fragment="text-version">Text Version</a>
        </li>
      </ol>
    </nav>

    <article>
      <h2 id="audio-version" tabindex="-1">
        <a class="header-anchor" routerLink="/about" fragment="audio-version"
          ><span>Audio Version</span></a
        >
      </h2>
      <audio id="audio1" controls>
        <source type="audio/ogg" src="assets/audio/about.ogg" />
        <source type="audio/mpeg" src="assets/audio/about.mp3" />
        Your browser does not support embedded audio, but you can
        <a href="assets/audio/about.mp3">download it.</a>
      </audio>
      <p>
        <a href="assets/audio/about.mp3">Download audio</a>
      </p>
      <h2 id="text-version" tabindex="-1">
        <a class="header-anchor" routerLink="/about" fragment="text-version"
          ><span
            >Text Version <span class="word-count">(551 words)</span></span
          ></a
        >
      </h2>
      <p>Welcome to the Access Toolkit for Art Workers.</p>
      <p>
        This is a practical resource for art workers, such as curators,
        producers and arts administrators working independently or in galleries,
        museums and arts organisations. This toolkit contains practical
        information on how to plan, produce, and exhibit accessible art projects
        including information on access riders, financial planning, slow
        production, display, and creating an accessible workplace. This
        information is intended to address the access barriers faced by d/Deaf,
        neurodivergent, chronically ill and disabled artists, audiences and art
        workers, and those who experience ableism. The information in this
        toolkit has been gathered from a wide range of disabled artists,
        curators and producers and those working in arts organisations dedicated
        to commissioning disabled artists. It has also been informed by the
        author’s own experience as a disabled curator, who has faced access
        barriers and ableism working in the arts. It is most relevant to working
        in the UK and Ireland but is applicable in a wide set of contexts. This
        is not an exhaustive resource but is intended to support art workers to
        begin the process of addressing ableism in their practices and
        workplaces to ensure they are accessible for disabled artists,
        audiences, colleagues and themselves.
      </p>
      <p>
        This toolkit follows in the example, and shares knowledge of toolkits
        and resources created by Caroyln Lazard, Sins Invalid, Unlimited, Leah
        Clements, Alice Hattrick and Lizzy Rose. This toolkit follows a
        Disability Justice approach and Talila A Lewis’s definition of ableism.
        In
        <em>Accessibility In the Arts: A Promise and a Practice</em>, Carolyn
        Lazard states that Disability Justice was “[d]eveloped by queer and
        trans activists of color in the Bay area, Disability Justice is the
        second wave of the disability rights movement, transforming it from a
        single issue approach to an intersectional, multisystemic way of looking
        at the world. Within this framework, disability is defined as an
        economic, cultural, and/or social exclusion based on a physical,
        psychological, sensory, or cognitive difference. Disability Justice
        movements understand disability to be unevenly distributed, primarily
        affecting black and indigenous communities, queer and trans communities,
        and low income communities. Disability is structurally reinforced by
        ableism, a system rooted in the supremacy of non-disabled people and the
        disenfranchisement of disabled people through the denial of access”.
        Talila A Lewis defines ableism as a: “ system of assigning value to
        people's bodies and minds based on societally constructed ideas of
        normalcy, productivity, desirability, intelligence, excellence, and
        fitness. These constructed ideas are deeply rooted in eugenics,
        anti-Blackness, misogyny, colonialism, imperialism, and capitalism.This
        form of systemic oppression leads to people and society determining who
        is valuable and worthy based on a person’s appearance and/or their
        ability to satisfactory [re]produce, excel and ‘behave.’ You do not have
        to be disabled to experience ableism.”
      </p>
      <p>
        It is the responsibility of art workers to undo the ableism in art
        spaces and commit to access as an ongoing practice in an effort to
        eradicate access barriers for working, making and experiencing art for
        d/Deaf, neurodivergent, chronically ill and disabled communities.
      </p>
      <p>
        Access Toolkit for Art Workers is supported by the Arts Council
        England’s Developing Your Creative Practice award and the Creative
        Production Supports initiative field:arts.
      </p>
      <p>Author: Iaraith Ní Fheorais</p>
      <p>Editor: Hannah Wallis</p>
      <p>
        Web designer:
        <a href="https://www.saerlaith.com">Saerlaith Uaid Ní Dhuibhir</a>
      </p>
      <p>
        Advisers: Bridget O’Gorman, Hannah Wallis, Kat Hawkins, Jamila Prowse,
        Jo Verrant, Leah Clements, Linda Rocco and Maggie Matić
      </p>
      <hr />
      <p>
        Please
        <a href="mailto:iarlaith@accesstoolkit.art"
          >contact Iarlaith Ní Fheorais</a
        >
        at iarlaith"&#64;"accesstoolkit.art if you have any questions or queries
        about Access Toolkit for Art Workers.
      </p>
    </article>
  </div>
</main>
