body.monochrome {
  --primary: #121212;
  --secondary: #fff;
  --page-background: white;
}

body.dark-theme {
  --secondary: #282828;
  --primary: var(--snowy-mint);
  --page-background: var(--secondary);

  --optional-mint-dark-mix: #afb6b0;

  header {
    --link-color: var(--snowy-mint);
    --svg-fill: var(--link-color);

    background-color: var(--secondary);
    color: var(--link-color);
  }

  hr.dark-mode-border {
    border-color: var(--color);
  }

  #logos {
    background-color: var(--primary);
  }
}

body.light-theme {
  --secondary: var(--snowy-mint);
  --primary: var(--blue);
  --page-background: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary: #282828;
    --primary: var(--snowy-mint);
    --page-background: var(--secondary);

    --optional-mint-dark-mix: #afb6b0;

    body:not(.monochrome, .light-theme) {
      header {
        --link-color: var(--snowy-mint);
        --svg-fill: var(--link-color);

        background-color: var(--secondary);
        color: var(--link-color);
      }

      hr.dark-mode-border {
        border-color: var(--color);
      }
      #logos {
        background-color: var(--primary);
      }
    }
  }
}
