body.light-theme {
}

body.monochrome {
  --primary: var(--monochrome-black);
  --secondary: #fff;
  --page-background: white;

  header {
    --svg-fill: #fff;
    a:focus,
    a:active {
      color: var(--monochrome-black);
    }
  }
}

body.dark-theme {
  --secondary: var(--dark-mode-background);
  --primary: var(--snowy-mint);
  --page-background: var(--secondary);

  header {
    --link-color: var(--snowy-mint);
    --svg-fill: var(--link-color);

    background-color: var(--secondary);
    color: var(--link-color);

    a:focus,
    a:active {
      color: var(--dark-mode-background);
    }
  }

  hr.dark-mode-border {
    border-color: var(--color);
  }

  #logos {
    background-color: var(--primary);
  }
}

body.light-theme {
  --secondary: var(--snowy-mint);
  --primary: var(--blue);
  --page-background: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary: var(--dark-mode-background);
    --primary: var(--snowy-mint);
    --page-background: var(--secondary);

    body:not(.monochrome, .light-theme) {
      header {
        --link-color: var(--snowy-mint);
        --svg-fill: var(--link-color);

        background-color: var(--secondary);
        color: var(--link-color);

        a:focus,
        a:active {
          color: var(--dark-mode-background);
        }
      }

      hr.dark-mode-border {
        border-color: var(--color);
      }
      #logos {
        background-color: var(--primary);
      }
    }
  }
}
