/* You can add global styles to this file, and also import other style files */
@use "abstracts/variables";
@use "themes/themes";
@use "vendors/normalize";
@use "vendors/the-new-css-reset";

* {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
}

// html {
//   font-size: 1rem;
// }

body,
html {
  height: 100%;
}

body {
  background-color: var(--page-background);
  color: var(--primary);
  line-height: calc(2px + 2ex + 2px);

  &:has(app-home) {
    background-color: var(--secondary);
  }
}

svg {
  fill: var(--svg-fill);
}

nav li {
  list-style-type: none;
}

#main-nav li {
  white-space: nowrap;
}

#home-nav ul {
  --gap: var(--layout-gap-md);
  --min: 25ch;
  --link-color: var(--primary);
  --home-focus-bg: var(--primary);
  --home-focus-color: var(--secondary);

  display: grid;
  gap: var(--gap);
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

#home-nav li {
  border: 0.25rem solid var(--primary);
  border-radius: 1rem;
  padding: var(--padding-md);
  position: relative;
}

#home-nav li:hover,
#home-nav li:focus-within {
  background-color: var(--home-focus-bg);
  color: var(--home-focus-color);
  --link-color: var(--home-focus-color);
}

h1 {
  text-align: center;
}

#home-nav li a::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#home-nav a {
  text-decoration: none;
}

/* :is(body, .block-flow) > * + * {
    margin-block-start: var(--block-flow-sm);
} */

section {
  max-width: 70vw;
}

h1 {
  font-size: var(--headline-size);
}

h2 {
  font-size: var(--title-size);
}

h3 {
  font-size: var(--subheading-2-size);
}

h4 {
  font-size: var(--subheading-1-size);
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-sm);
  padding: var(--padding-lg);
  padding-top: var(--padding-sm);
  padding-bottom: var(--padding-lg);
}

main.articles-main {
  background-color: #fff;
}

a {
  color: var(--link-color);
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 0.0625rem;
}

hr.dark-mode-border {
  visibility: hidden;
  border-top: 4px dotted var(--page-background);
  overflow: visible;
  width: 82vw;
  margin: 0 auto;
}

a:hover {
  text-decoration-thickness: 0.25rem;
}

main a {
  text-underline-offset: 0.15rem;
  text-underline-position: unset;
}

main a:hover {
  text-decoration-thickness: 0.15rem;
}

main a:not(.header-anchor):focus,
main a:not(.header-anchor):active {
  text-decoration: none;
  outline: 0.15rem solid var(--primary);
}

#main-nav ul {
  width: 65%;
  display: var(--menu-nav-display);
  justify-content: space-between;
  font-size: var(--subheading-1-size);
  gap: var(--layout-gap-sm);
}

#logo {
  text-align: center;
}

#logo a {
  font-size: var(--subheading-2-size);
  text-decoration: none;
}

#logo:hover a {
  text-decoration: underline;
  text-decoration-thickness: 0.3rem;
}

/* #logo:hover {
    border-radius: var(--border-radius-md);;
    outline: 0.2rem solid var(--link-color);
    outline-offset: 0.5rem;
} */

#menu-button {
  display: var(--menu-button-display);
  padding: 0.5rem;
  border-radius: 0.25rem;
  justify-items: center;
}

#menu-button:focus {
  --svg-fill: var(--primary);
  color: var(--primary);
  background-color: var(--secondary);
}
p {
  font-size: var(--body-2-size);
}

p,
li,
h1,
h2,
h3,
h4 {
  /* Help prevent overflow of long words/names/URLs */
  /*overflow-wrap: break-word;*/
  /* Optional, not supported for all languages */
  /*hyphens: auto;*/
  outline: none;
  line-height: var(--line-height);
}

em,
cite {
  font-style: italic;
}

ul {
  list-style-type: "→ ";
  list-style-position: inside;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--layout-gap-lg);
}

nav.table-of-contents {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-sm);
}

nav.table-of-contents a {
  position: relative;
  left: 0.5ex;
}

nav.table-of-contents li {
  padding-top: 0.25rem;
}

article {
  display: flex;
  flex-direction: column;
  gap: var(--layout-gap-sm);
}

audio {
  max-width: 50%;
}

@media screen and (max-width: 62.5rem) {
  .main-content {
    display: flex;
    flex-wrap: wrap;
    gap: var(--layout-gap-md);
  }

  audio {
    max-width: unset;
  }
}

.able-status-bar {
  box-sizing: content-box;
}

a#skip-link:active,
a#skip-link:focus {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 19rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem;
  background: var(--secondary);
  z-index: 101;
  outline-color: var(--primary);
  text-align: center;
  color: var(--primary);
  font-weight: 700;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0 0 0.25rem 0.25rem;
}

#skip-link:focus {
  transform: translateY(0%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

@media screen and (max-width: 54rem) {
  nav#main-nav {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    gap: var(--layout-gap-sm);
  }

  header {
    --menu-button-display: grid;

    flex-direction: column;
  }

  header ul:not(.menu-open) {
    --menu-nav-display: none;
  }

  header ul {
    flex-direction: column;
    gap: var(--layout-gap-sm);
    align-items: center;
  }
}

/* TOC settings */
body {
  scroll-behavior: smooth;
}

ol li {
  display: block;
  counter-increment: list-item;
}
ol li:before {
  content: counters(list-item, ".") " ";
}

ol li li {
  margin-left: var(--padding-sm);
}

#site-a11y-desktop {
  display: none;
}

.move-site-a11y {
  #site-a11y-desktop {
    display: block;
  }

  .a11y-statement {
    display: none;
  }
}
