<main>
  <h1 id="main-heading">Access Toolkit for Art Workers</h1>
  <nav id="home-nav" aria-label="Pages">
    <ul>
      <li>
        <h2><a routerLink="/about"> About </a></h2>
        <p>
          What is the Access Toolkit for Art Workers, how was it made, and who
          made it happen?
        </p>
      </li>
      <li>
        <h2><a routerLink="/planning"> Planning </a></h2>
        <p>
          Learn how to centre access throughout planning including how to gather
          access needs, sharing opportunities, financial planning, fundraising
          and how to manage access budgets.
        </p>
      </li>
      <li>
        <h2><a routerLink="/production"> Production </a></h2>
        <p>
          Explore how to make production more accessible for artists and art
          workers, including slow production methods, working with support
          workers and how to centre health, wellbeing and access.
        </p>
      </li>
      <li>
        <h2><a routerLink="/workplace"> Workplace </a></h2>
        <p>
          How can you make your workplace more accessible? This section will
          cover how reasonable adjustments, flexible working, unionising, pay,
          manageable workloads and recruitment can reduce access barriers for
          art workers.
        </p>
      </li>
      <li>
        <h2><a routerLink="/audiences"> Audiences &amp; Display </a></h2>
        <p>
          Explore the access tools you can use to make artworks, exhibitions and
          programmes accessible for audiences, from closed captions, audio
          descriptions, seating, sign language interpretation, access statement
          and much more.
        </p>
      </li>
      <li>
        <h2><a routerLink="/other-resources"> Other Resources </a></h2>
        <p>
          Discover a range of access resources by disabled artists and art
          workers that can further support you on reducing access barriers in
          the arts, including on how to make an access rider, access suggestions
          for events and alt text.
        </p>
      </li>
    </ul>
  </nav>
</main>
