<div class="a11y-tools">
  <div class="colour-mode-container">
    <button
      type="button"
      class="colour-select"
      [ngClass]="colourModeClass()"
      aria-expanded="false"
      popovertarget="colour-menu-popover"
    >
      <figure class="colour-circle"></figure>
      <span class="sr-only">Open the </span>
      <span id="visible-colour-mode">Colour Mode</span>
      <span id="hidde-colour-mode" class="sr-only">Colour Mode</span>
      <span class="sr-only"> menu. Current mode is {{ themeName() }}</span>
    </button>
    <div class="colour-menu" id="colour-menu-popover" popover>
      <span class="sr-only">Select a colour mode</span>
      <menu>
        <li>
          <button
            type="button"
            class="colour-mode dark"
            id="dark-button"
            (click)="changeTheme('dark-theme')"
          >
            <figure class="colour-circle"></figure>
            <span class="sr-only">Use </span>
            <span>dark</span>
            <span class="sr-only"> mode</span>
          </button>
        </li>
        <li>
          <button
            type="button"
            class="colour-mode light"
            id="light-button"
            (click)="changeTheme('light-theme')"
          >
            <figure class="colour-circle"></figure>
            <span class="sr-only">Use </span>
            <span>light</span>
            <span class="sr-only"> mode</span>
          </button>
        </li>
        <li>
          <button
            type="button"
            class="colour-mode monochrome"
            id="monochrome-button"
            (click)="changeTheme('monochrome')"
          >
            <figure class="colour-circle"></figure>

            <span class="sr-only">Use </span>
            <span>monochrome</span>
            <span class="sr-only"> mode</span>
          </button>
        </li>
        <li>
          <button
            type="button"
            class="colour-mode reset"
            id="reset-button"
            (click)="changeTheme('reset')"
          >
            <figure class="colour-circle"></figure>

            <span class="sr-only">Use </span>
            <span>system setting</span>
            <span class="sr-only"> to determine colour mode</span>
          </button>
        </li>
      </menu>
    </div>
  </div>
  <div class="vertical-divider"></div>
  <div class="text-buttons">
    <span id="text-size-string">Text Size</span>
    <button class="text-button" (click)="changeTextSize('down')">
      <span aria-hidden="true">-</span>
      <span class="sr-only">Reduce text size</span>
    </button>
    <button class="text-button" (click)="changeTextSize('up')">
      <span aria-hidden="true">+</span>
      <span class="sr-only">Increase text size</span>
    </button>
    <button class="text-button reset" (click)="changeTextSize('reset')">
      <span>Reset</span>
      <span class="sr-only"> text size</span>
    </button>
  </div>
</div>
<a routerLink="/accessibility" fragment="main-heading" class="a11y-statement">
  @if (!isMobile) {
  <span> Site Accessibility </span>
  } @else {

  <span class="sr-only"> Site Accessibility </span>
  <svg
    aria-hidden="true"
    viewBox="0 0 48 48"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g id="Layer_2" data-name="Layer 2">
      <g id="invisible_box" data-name="invisible box">
        <rect width="48" height="48" fill="none" />
      </g>
      <g id="Layer_6" data-name="Layer 6">
        <g>
          <path
            d="M24,2A22,22,0,1,0,46,24,21.9,21.9,0,0,0,24,2Zm0,40A18,18,0,1,1,42,24,18.1,18.1,0,0,1,24,42Z"
          />
          <circle cx="24" cy="13" r="3" />
          <path
            d="M35,17H13a2,2,0,0,0,0,4h7v4.8l-2,9.8A2.1,2.1,0,0,0,19.6,38H20a2.1,2.1,0,0,0,2-1.6L23.8,27h.4L26,36.4A2.1,2.1,0,0,0,28,38h.4A2.1,2.1,0,0,0,30,35.6l-2-9.8V21h7a2,2,0,0,0,0-4Z"
          />
        </g>
      </g>
    </g>
  </svg>
  }
</a>
