<div class="a11y-tools">
  <div class="colour-mode-container">
    <button
      type="button"
      class="colour-select"
      [ngClass]="colourModeClass()"
      aria-expanded="false"
      popovertarget="colour-menu-popover"
    >
      <figure class="colour-circle"></figure>
      <span class="sr-only">Open the </span>
      <span>Colour Mode</span>
      <span class="sr-only"> menu. Current mode is {{ themeName() }}</span>
    </button>
    <div class="colour-menu" id="colour-menu-popover" popover>
      <span class="sr-only">Select a colour mode</span>
      <menu>
        <li>
          <button
            type="button"
            class="colour-mode dark"
            id="dark-button"
            (click)="changeTheme('dark-theme')"
          >
            <figure class="colour-circle"></figure>
            <span class="sr-only">Use </span>
            <span>dark</span>
            <span class="sr-only"> mode</span>
          </button>
        </li>
        <li>
          <button
            type="button"
            class="colour-mode light"
            id="light-button"
            (click)="changeTheme('light-theme')"
          >
            <figure class="colour-circle"></figure>
            <span class="sr-only">Use </span>
            <span>light</span>
            <span class="sr-only"> mode</span>
          </button>
        </li>
        <li>
          <button
            type="button"
            class="colour-mode monochrome"
            id="monochrome-button"
            (click)="changeTheme('monochrome')"
          >
            <figure class="colour-circle"></figure>

            <span class="sr-only">Use </span>
            <span>monochrome</span>
            <span class="sr-only"> mode</span>
          </button>
        </li>
        <li>
          <button
            type="button"
            class="colour-mode reset"
            id="reset -button"
            (click)="changeTheme('reset')"
          >
            <figure class="colour-circle"></figure>

            <span class="sr-only">Use </span>
            <span>system setting</span>
            <span class="sr-only"> to determine colour mode</span>
          </button>
        </li>
      </menu>
    </div>
  </div>
  @if (!isMobile) {
  <div class="vertical-divider"></div>
  }
  <div class="text-buttons">
    <span id="text-size-string">Text Size</span>
    <button class="text-button" (click)="changeTextSize('down')">
      <span aria-hidden="true">-</span>
      <span class="sr-only">Reduce text size</span>
    </button>
    <button class="text-button" (click)="changeTextSize('up')">
      <span aria-hidden="true">+</span>
      <span class="sr-only">Increase text size</span>
    </button>
    <button class="text-button reset" (click)="changeTextSize('reset')">
      <span>Reset</span>
      <span class="sr-only"> text size</span>
    </button>
  </div>
</div>
@if (!isMobile) {
<a routerLink="/accessibility" class="a11y-statement">Site Accessibility</a>
}
