<main>
  <h1 id="main-heading">Production</h1>
  <div class="main-content">
    <nav class="table-of-contents" aria-label="Table of Contents">
      <h2 id="table-of-contents">Table of Contents</h2>
      <ol>
        <li>
          <a routerLink="/production" fragment="audio-version">Audio Version</a>
        </li>
        <li>
          <a routerLink="/production" fragment="text-version">Text Version</a>
          <ol>
            <li>
              <a routerLink="/production" fragment="introduction">
                Introduction</a
              >
            </li>
            <li>
              <a routerLink="/production" fragment="slow-production">
                Slow Production</a
              >
            </li>
            <li>
              <a routerLink="/production" fragment="support-workers">
                Support Workers</a
              >
            </li>
            <li>
              <a routerLink="/production" fragment="communication">
                Communication</a
              >
            </li>
          </ol>
        </li>
      </ol>
    </nav>
    <article>
      <h2 id="audio-version" tabindex="-1">
        <a
          class="header-anchor"
          routerLink="/production"
          fragment="audio-version"
          ><span>Audio Version</span></a
        >
      </h2>
      <audio id="audio1" controls>
        <source type="audio/ogg" src="assets/audio/production.ogg" />
        <source type="audio/mpeg" src="assets/audio/production.mp3" />
        Your browser does not support embedded audio, but you can
        <a href="assets/audio/production.mp3">download it.</a>
      </audio>
      <p>
        <a href="assets/audio/production.mp3">Download audio</a>
      </p>
      <h2 id="text-version" tabindex="-1">
        <a
          class="header-anchor"
          routerLink="/production"
          fragment="text-version"
          ><span
            >Text Version <span class="word-count">(645 words)</span></span
          ></a
        >
      </h2>
      <h3 id="introduction" tabindex="-1">
        <a
          class="header-anchor"
          routerLink="/production"
          fragment="introduction"
          ><span>Introduction</span></a
        >
      </h3>
      <p>
        This section will cover how production of art projects can be made more
        accessible. Accessible production has a number of priorities including
        slower, extended schedules, flexible deadlines and outcomes, and the
        centering of the access, health and wellbeing of those involved. This
        can include slow production and working with support workers to produce
        projects.
      </p>
      <h3 id="slow-production" tabindex="-1">
        <a
          class="header-anchor"
          routerLink="/production"
          fragment="slow-production"
          ><span>Slow Production</span></a
        >
      </h3>
      <p>
        Slow production acknowledges that some people need more time to work.
        This may be for a number of reasons including disability, illness,
        parenting, pregnancy, transition, care work, grief, unstable housing,
        living situation or burn out. In approaching production in a slower,
        more flexible, adaptive way, working becomes more manageable for
        everyone involved. There are a number of ways you can work towards
        slower production schedules:
      </p>
      <ul>
        <li>
          Planning ahead; building in longer production schedules, beginning
          work with artists with sufficient time to produce that work.
        </li>
        <li>
          Flexibility with deadlines and outcomes; unexpected events can happen
          and flexibility about when and what is produced is advisable.
          Unrealistic expectations are often placed on artists and by
          reassessing what is expected, can make working more accessible.
        </li>
        <li>
          Pay artists and workers adequately for the work that is being asked of
          them.
        </li>
        <li>
          Request additional fees from the access budget in arts council project
          awards to pay for additional time required to work in an accessible
          manner.
        </li>
        <li>
          Communicate with funders; funders are often responsive to re-working
          schedules and appreciate open and clear communication about what the
          challenges are and what is being done to address them.
        </li>
      </ul>
      <h3 id="support-workers" tabindex="-1">
        <a
          class="header-anchor"
          routerLink="/production"
          fragment="support-workers"
          ><span>Support Workers</span></a
        >
      </h3>
      <p>
        In addition to slower production schedules, some artists and art workers
        require a support worker. A support worker is someone who supports
        disabled people’s access work or care, and reduces access barriers. Many
        disabled artists and art workers already rely on unpaid support work
        from friends, partners and family, and would benefit from official paid
        support work.
      </p>
      <p>When working with an artist, a support worker can support with:</p>
      <ul>
        <li>Artistic tasks, such as making the artwork.</li>
        <li>Manual tasks, such as lifting, packing and moving.</li>
        <li>Administrative tasks and communication, including emails.</li>
        <li>Joining meetings and taking notes.</li>
        <li>Transportation and mobility.</li>
        <li>Care needs.</li>
      </ul>
      <p>
        When working with a curator, producer or arts administrator, a support
        worker can support with:
      </p>
      <ul>
        <li>Support during project install.</li>
        <li>Administrative tasks and communication, including emails.</li>
        <li>Organising meetings, and taking notes.</li>
        <li>Transportation and mobility.</li>
        <li>Care needs.</li>
      </ul>
      <p>Hiring a support worker can be financed in a number of ways:</p>
      <ul>
        <li>
          Costs can be included in production budgets, including the access
          budget in arts council grants.
        </li>
        <li>
          A support worker can also be hired through state funded welfare
          schemes. In the UK, you can apply via
          <a href="https://www.gov.uk"> GOV.UK</a> Access to Work Scheme. It may
          take a number of months for an application to be processed, so it is
          important to plan ahead.
        </li>
      </ul>
      <h3 id="communication" tabindex="-1">
        <a
          class="header-anchor"
          routerLink="/production"
          fragment="communication"
          ><span>Communication</span></a
        >
      </h3>
      <p>
        Communication is key to creating an accessible relationship with artists
        and the team during production periods. Everyone has their preferred
        method of communicating, with different forms of communication
        accessible for different people. You can request communication
        preferences in the access rider at the beginning of the working
        relationship. This may change throughout the different stages of work
        but acknowledging how communication can reduce or create access barriers
        for people is essential. Here are some alternative options to standard
        email and phonecalls you can communicate through:
      </p>
      <ul>
        <li>Voice Notes.</li>
        <li>Online Meetings.</li>
        <li>Messaging / Text.</li>
        <li>Large Text email and/or Easy Read Documents.</li>
        <li>Liaising through a support worker.</li>
      </ul>
      <p>
        Some disabled people communicate differently, including taking longer to
        respond, tick, twitch or not maintaining eye contact. Assumptions
        shouldn’t be made and all communication styles should be accommodated
        and respected. People with learning and developmental disabilities may
        require slower and clearer speech, accommodating variations in response
        time or to be joined by a support worker. It is also advised to avoid
        use of overly technical language or jargon. d/Deaf or hard of hearing
        people may require sign language interpreters to join meetings or for
        online meetings to be captioned.
      </p>
    </article>
  </div>
</main>
